body {
  background: #FFFFFF;
  color: #330000;
}
h1 {
  margin-top: 40px;
  color: #330000;
  font-family: 'Codystar', cursive;
}
h2, h3 {
  color: #3399CC;
  font-family: 'Nunito Sans', sans-serif;
}
hr {
  border: none;
  border-top: 8px dotted #CDB99C;
  width: 1000px;
  margin-bottom: 0;
  padding-bottom: 0;
  height: 0;
}
table, tr, td {
  border: 1px solid #330000;
  border-collapse: collapse;
 table-layout: fixed;
}
td {
  padding:5px 8px 5px 8px;
}
.icons {
  width: 100px;
}
.plant {
  width: 30px;
}
.graph {
  width: 450px;
  display:inline-block;
}
.title {
  font-size: 1.2rem;
  margin: auto 30px 20px;
}
.plant {
  padding-top: 30px;
  display: inline;
}
.monitor {
  position:relative;
}
.visual {
  /*background-color: #178E5C;*/
  width: 392px;
  /*margin-left: 100px;*/
  display:inline-block;

}
.data {
  /*background-color: #2FA7CC;*/
  display: inline-block;
  /*width: 40%;*/
  position: absolute;
  margin-top: 40px;
  margin-left: 10px;
}
.full-data {
margin-top: 40px;
  margin-left: 10px;
}
.sunlight, .water {
  padding: 40px 0 0 40px;
  /*margin: 30px;*/
  display: inline-block;
}
.sunlight {
 margin-left: 40px;
}
.temphum {
  padding: 0 40px 40px;
  /*margin: 40px;*/
  margin-left: 25px;
}
.temphuminfo {
  padding-left: 20px;
  font-size: 1.5rem;
  position: absolute;
  display: inline-block;
}
.margin20 {
 margin-top: 50px;
}
